/* [project]/app/globals.css [app-client] (css) */
@layer theme {
  :root, :host {
    --default-font-family: var(--font-geist-sans);
    --default-mono-font-family: var(--font-geist-mono);
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

:root {
  --background: #d3c3a9;
  --foreground: #534947;
}

body {
  background: var(--background);
  color: #534947;
  text-align: center;
  background: url("/coffe.PNG") center / cover no-repeat fixed, #d3c3a9;
  font-family: Walter Turncoat, sans-serif;
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #534947;
    --foreground: #d3c3a9;
  }
}

.titledayo {
  color: #534947;
  text-shadow: 2px 0 #fdfff4, -2px 0 #fdfff4, 0 2px #fdfff4, 0 -2px #fdfff4, 2px 2px #fdfff4, -2px -2px #fdfff4, -2px 2px #fdfff4, 2px -2px #fdfff4;
  font-size: 2.5rem;
  font-weight: bold;
}

textarea {
  background-color: #fdfff4;
  border: 0 solid;
  border-radius: 10px;
  width: 80%;
  height: 100px;
  margin: 10px 0;
  padding: 10px;
}

button {
  color: #fdfff4;
  cursor: pointer;
  background-color: #5d432c;
  border: none;
  border-radius: 20px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
}

button:hover {
  background-color: #534947;
}

.track-item {
  background-color: #fdfff4;
  border-radius: 10px;
  width: 320px;
  margin: 15px auto;
  padding: 10px;
  box-shadow: 0 2px 6px #ff1c1c1a;
}

.note {
  background-color: #fdfff4;
  background-image: linear-gradient(#53494725 1px, #0000 1px);
  background-position-y: 1.38em;
  background-size: 100% 1em;
  border: 1px solid #fdfff4;
  border-radius: 10px;
  width: 80%;
  margin: 15px auto;
  padding: 20px;
  line-height: 1em;
}

.note p {
  margin: 0;
  padding: 0;
}

.demo01__ribbon {
  color: #fdfff4;
  box-sizing: border-box;
  z-index: 3;
  background-color: #b8766a;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-width: 120px;
  height: 32px;
  font-size: clamp(.8rem, 2.5vw, 1.2rem);
  font-weight: bold;
  display: flex;
  position: absolute;
  top: -10px;
  left: -10px;
}

.diary-item {
  position: relative;
}

.entry-ribbon.demo01__ribbon {
  z-index: 3;
  top: -12px;
  left: -6px;
}

.demo01__title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: inherit;
  text-align: center;
  margin: 0;
}

.demo01__title:before {
  content: "";
  border-top: none;
  border-bottom: 5px solid #0000;
  border-left: none;
  border-right: 5px solid #b8766a;
  position: absolute;
  top: 100%;
  left: 0;
}

.demo01__title:after {
  z-index: 1;
  content: "";
  border: 18px solid #b8766a;
  border-left: 0 solid #0000;
  border-right: 10px solid #0000;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -10px;
}

html {
  scroll-behavior: smooth;
}

.backbtn {
  color: #fdfff4;
  cursor: pointer;
  z-index: 2;
  background: #5d432c;
  border: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  padding: 8px 16px;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.backbtn:hover {
  background: #534947;
}

/*# sourceMappingURL=app_globals_css_bad6b30c._.single.css.map*/