@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* globals.css に置く（CSS Module じゃないファイル） */
body{
  background: url("/coffe.PNG") center/cover no-repeat fixed, #d3c3a9;
  color:#534947;
  font-family:'Walter Turncoat', sans-serif;
  text-align:center;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
